.div-center{
    justify-content: center;
    display: flex;
  }

.div-bg-singup{
    background-color:#cc4d76;
    width:100%;
    padding:40px 0px;
}

.div-singup{
    background-color:#e8e7e3;
    width:400px;
    height:100%;
    border-radius: 20px;
    padding: 0px 30px;
    align-items: center;
    display: flex;
}

.text-title-yellow{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color:#e6bd6f;
}

.text-title-yellow2{
    font-size: 22px;
    font-weight: 900;
    color:#e6bd6f;
}


.text-title-yellow3{
    font-size: 14px;
    color:#e6bd6f;
}
.input{
    border-radius: 25px;
    box-shadow: 0 0 5pt 0.5pt #d3d3d3;
    margin: 20px 0px;
    height: 45px;
    padding:20px;
}

.text-error{
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}

.primary-button{
    background-color:#cc4d76;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color:#e6bd6f;
    width: 340px;
    height: 45px;
    border-radius: 30px;
    cursor:pointer;
}
.div-otp{
    background-color:#e8e7e3;
    width:400px;
    height:100%;
    border-radius: 20px;
    padding: 30px 30px;
}
.otpVerifyContainer{
    justify-content: center;
}

.otpVerifyInput{
    width: 2em !important;
    border-radius: 5px;
    height: 30px;
}

.show-counter .countdown {
    line-height: 1.25rem;
    padding-left: 10px;

  }

  .show-counter .countdown > span {
    padding-left: 5px;
  }

  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .show-counter {
    display: flex;
  }